.user-component__subtitle i {
  color: tomato;
  margin-left: 5px;
}

.more-suggestions {
  margin-top: 15px;
}

.more-suggestions__title {
  margin-bottom: 30px;
}

.more-suggestions__icon-image {
  width: 60px;
  height: 60px;
  margin-bottom: 10px;
}

.more-suggestions__main {
  display: flex;
}

.more-suggestions__icon {
  margin-left: 20px;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.3s;
}

.more-suggestions__title:hover {
  cursor: pointer;
}

.more-suggestions__icon:hover {
  cursor: pointer;
  transform: scale(1.03);
  transition: 0.5s;
  color: tomato;
}

.mail:hover {
  animation: vibration 0.3s linear infinite both;
}

@keyframes vibration {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
